.contact_modal
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.9); 
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: auto;
}
.modal
{
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    padding: 35px;
    position: relative;
}
/* croix pour fermer la modale */
.modal>img
{
    cursor: pointer;
    position: absolute;
    top: 32px;
    right: 32px;
}
.modal>h2 , .modal>h3
{
    margin: 0px;
    font-size: 40px;
    font-weight: normal;
}
form
{
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
form > div
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 26px;
}
form > div > label
{
    color: #312E2E;
    font-size: 20px;
}
form > div > input
{
    width: 100%;
    height: 40px;
    border-radius: 5px;
}
form > div > textarea
{
    width: 100%;
    height: 120px;
    border-radius: 5px;
}

/* bouton de validation */
.contact_button
{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 8px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}