@import url("modal.css");
@import url("flex.css");
.test
{
    border: 1px solid red;
}
*
{
    box-sizing: border-box;
}
body
{
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1
{
    color: #901C1C;
    margin-right: 100px;
}

.logo
{
    height: 50px;
    margin-left: 100px;
}




/* Bandeau avec l'entete du photographe */
.photograph-header
{
    background-color: #FAFAFA;
    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 70px;
}
.photograph-header>div
{
    flex: 1 3 350px;
}
.single-photograph-text>h2
{
    color: #D3573C;
    font-size: 64px;
}
.single-photograph-text>h3
{
    color: #901C1C;
    font-size: 24px;
}
.single-photograph-text>p
{
    color: #525252;
    font-size: 18px;
}
.portrait
{
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 200px;
}


/* Selection Tri Par */
.zone-tri
{
    display: flex;
    align-items: center;
}
.trier-par
{
    font-size: 18px;
    font-weight: 700;
    margin-right: 2em;
}
select
{
    width: 200px;
    text-align: center;
    background-color: #901C1C;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 22px;
    border-radius: 5px;
}
select:hover
{
    cursor: pointer;
}
select:focus, select:active
{
    border: none;
    outline: none;
}






/* affichage des images par photographe */
.medias-wrapper
{
    display: flex;
    flex-wrap: wrap;

    gap: 16px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.medias-wrapper>div
{
    display: flex;
    flex: 1 350px;
    /* height: 300px; */
    max-width: 350px;
}
.medias-cards
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.img>img
{
    height: 300px;
    max-width: 350px;
    border-radius: 5px;
    object-fit: cover;
}
.img>a>img
{
    height: 300px;
    max-width: 350px;
    border-radius: 5px;
    object-fit: cover;
}
/* .vid>video
{
    height: 300px;
    max-width: 350px;
    border-radius: 5px;
    object-fit: cover;
} */
.name-likes
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title
{
    font-size: 24px;
    color: #901C1C;
}
.likes
{
    font-size: 24px;
    color: #901C1C;
}
.fa-heart
{
    font-size: 24px;
    color: #901C1C;
}
.addlike
{
    cursor: pointer;
}
.liked
{
    color: red !important;  
}
.video-card
{
    display: flex;
    flex: 1 350px;
    height: 300px;
    max-width: 350px;
}

/* Encart des Likes */
.likes-wrapper
{
    position: fixed;
    bottom: 0;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    background-color: #DB8876;
    padding: 21px 31px;

    font-size: 24px;
    font-weight: 500;
    /* line-height: 0px; */
}
.total-likes
{
    margin-right: 3rem;
    line-height: 22px;
}
.total-likes, .total-likes>i
{
    display: flex;
    color: black !important;
}

/* LIGHTBOX */
.lightbox-background
{
    background-color: rgba(255, 255, 255, 0.9); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 90;
}
.lightbox
{
    position: fixed;
    top: 5%;
    left: 5%;
    bottom: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
    /* overflow: hidden; */
    animation: lightboxIn 0.5s;
}
/* fleches de la lighbox */
.lightbox__prev, .lightbox__next
{
    font-size: 48px;
    color: #901C1C;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    margin-top: -15px;
    z-index: 110;
}
.lightbox__prev
{
    left: 0;
}
.lightbox__next
{
    right: 0;
}
/* croix close de la lightbox */
.lightbox__close
{
    font-size: 42px;
    color: #901C1C;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 120;
}
/* effet au hover des boutons */
.lightbox button
{
    cursor: pointer;
    transition: 400ms;
    opacity: 0.5; 
}
.lightbox button:hover
{
    opacity: 1; 
}
.lightbox__container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 50px;
}
.lightbox__container>img
{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    animation: lightboxIn 0.5s;
}
/* loader au chargement d'une image */
.lightbox-loader
{
    width: 40px;
    height: 40px;
    opacity: 1;
    background: url('/assets/icons/loader.svg') center center no-repeat;
}
@keyframes lightboxIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}







